extends ../layouts/main

block content

  +b.page--main
    +b.hero
      .container
        +b.hero-block
          +e.cost From $80.00
          +e.title Nike Air Max
          +e.subtitle 50 Variants
          +e.text 
                  | Since this is our favorite sneaker, we’re bringing you #[br]
                  | 50 variants to suit everyone’s needs.
          +e.button BROWSE VARIANTS
  