extends ../layouts/main

block content

  +b.page--main
    +b.hero
      .container
        +b.hero-block
          +e.cost From $80.00
          +e.title Nike Air Max
          +e.subtitle 50 Variants
          +e.text 
                  | Since this is our favorite sneaker, we’re bringing you #[br]
                  | 50 variants to suit everyone’s needs.
          +e.button BROWSE VARIANTS

    +b.SECTION.collection.section
      .container

          +b.left-block
            +e.title Discover the new 
            +e.subtitle NIKE KYRIE 3
            +e.SPAN.logo
            +e.BUTTON.button VIEW COLLECTION

          +b.right-block
            +e.item
              H3.title Check out the
              SPAN.subtitle NEW ARRIVALS
              BUTTON.button DISCOVER
            +e.item
              H3.title Best for
              SPAN.subtitle ATHLETES
            +e.item
              H3.title Feel 
              SPAN.subtitle PREMIUM

              