extends ../layouts/main

block content

  +b.page--main
    +b.hero
      .container
        +b.hero-block
          +e.cost From $80.00
          +e.title Nike Air Max
          +e.subtitle 50 Variants
          +e.text 
                  | Since this is our favorite sneaker, we’re bringing you #[br]
                  | 50 variants to suit everyone’s needs.
          +e.button BROWSE VARIANTS

    +b.SECTION.collection.section
      .container

          +b.left-block
            +e.title Discover the new 
            +e.subtitle NIKE KYRIE 3
            +e.SPAN.logo
            +e.BUTTON.button VIEW COLLECTION

          +b.right-block
            +e.item
              H3.title Check out the
              SPAN.subtitle NEW ARRIVALS
              BUTTON.button DISCOVER
            +e.item
              +e.elem
                H3.title Best for
                SPAN.subtitle ATHLETES
              +e.elem
                H3.title Feel 
                SPAN.subtitle PREMIUM

    +b.SECTION.catalog.section
      .container
        +b.title
          +e.item--active New
          +e.item Popular
          +e.item Top picks

        +b.catalog-block
          +b.cart
            +e.cost--sale $45.00
            +e.SPAN.cost-sale $60.00
            +e.SPAN.sale -25%
            +e.IMG(src='../../assets/images/catalog (1).png').image
            +e.text
              +e.gender Men
              +e.title Converse Breakpoint #[br] Suede Blue
              +e.number #16378271     
          
          +b.cart
            +e.cost $55.00
            +e.IMG(src='../../assets/images/catalog (8).png').image
            +e.text
              +e.gender MEN / WOMEN
              +e.title Converse CT All Star II
              +e.number #16378271     
        
          +b.cart
            +e.cost--sale $60.00
            +e.SPAN.cost-sale $80.00
            +e.SPAN.sale -25%
            +e.IMG(src='../../assets/images/catalog (7).png').image
            +e.text
              +e.gender Women
              +e.title Adidas Pure Boost Chill
              +e.number #16378271     
            
          +b.cart
            +e.cost $50.00
            +e.IMG(src='../../assets/images/catalog (6).png').image
            +e.text
              +e.gender Men
              +e.title Puma Duplex W Casualh
              +e.number #16378271         
          
          +b.cart
            +e.cost $90.00
            +e.IMG(src='../../assets/images/catalog (5).png').image
            +e.text
              +e.gender Men
              +e.title Adidas Alphabounce 1Mh
              +e.number #16378271     
            
          +b.cart
            +e.cost--sale $50.00
            +e.SPAN.cost-sale $100.00
            +e.SPAN.sale -25%
            +e.IMG(src='../../assets/images/catalog (4).png').image
            +e.text
              +e.gender Men
              +e.title Asics GEL-Epirush
              +e.number #16378271     
          
          +b.cart
            +e.cost $40.00
            +e.IMG(src='../../assets/images/catalog (3).png').image
            +e.text
              +e.gender Men
              +e.title Adidas Originals #[br] Courtvantage Mesh
              +e.number #16378271     
            
          +b.cart
            +e.cost $80.00
            +e.IMG(src='../../assets/images/catalog (2).png').image
            +e.text
              +e.gender Men
              +e.title Adidas Originals #[br] Climacool 1
              +e.number #16378271         
      
    +b.SECTION.brand.section
      .container
        +e.IMG(src='../assets/images/brand (2).png').item
        +e.IMG(src='../assets/images/brand (1).png').item
        +e.IMG(src='../assets/images/brand (6).png').item
        +e.IMG(src='../assets/images/brand (5).png').item
        +e.IMG(src='../assets/images/brand (4).png').item
        +e.IMG(src='../assets/images/brand (3).png').item

    +b.SECTION.reviews.section
      +b.overlay
        .container
          +b.reviews-block
            +e.item
              +e.IMG(src='../../assets/images/face.png').photo
              +e.name Christopher Atkins
              +e.IMG(src='../../assets/images/stars (1).png').stars
            +e.item
              +e.IMG(src='../../assets/images/face.png').photo
              +e.name Andrew Ferraccioli
              +e.IMG(src='../../assets/images/stars (2).png').stars
            +e.item
              +e.IMG(src='../../assets/images/face.png').photo
              +e.name Sandra Jensen
              +e.IMG(src='../../assets/images/stars (3).png').stars
          +e.container
            +e.text “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
    
    +b.SECTION.news.section
      +e.title LATEST NEWS
      .container
        +e.item-one
          +e.IMG(src="../../assets/images/news (1).png").image
          +e.text
            +e.date DEC 27, 2017
            +e.article Lorem ipsum dolor sit amet #[br] consectetur adipiscing elit
            +e.count 24 Comments   

        +e.item-two
          +e.IMG(src="../../assets/images/news (3).png").image
          +e.text
            +e.date DEC 27, 2017
            +e.article Lorem ipsum dolor sit amet #[br] consectetur adipiscing elit
            +e.count 24 Comments   

        +e.item-three
          +e.IMG(src="../../assets/images/news (2).png").image
          +e.text
            +e.date DEC 27, 2017
            +e.article Lorem ipsum dolor sit amet #[br] consectetur adipiscing elit
            +e.count 24 Comments   

    +b.SECTION.letter.section
      .container
        +e.question-block
          +e.titile Looking for help?
          +e.subtitle Have any questions or need help with order? Let us know!
        +e.BUTTON.button MAKE AN INQUIRY
        