//color var
accent=#000
maroonColor=#472424
colorbtn=#fff
maroonColor = #472424
redColor = #623232

//mixin font-family font-weight
TruenoLt = 'TruenoLt', sans-serif
TruenoBd = 'TruenoBd', sans-serif
TruenoRoundBd = 'TruenoRoundBd', sans-serif
TruenoUltLk = 'TruenoUltLk', sans-serif

//max-width container
width-reg = 1110px

// breakpoints
lg-breakpoint = 1199px 
md-breakpoint = 992px
sm-breakpoint = 794px
xs-breakpoint = 540px
 