.header
  position static 
.option
  font-size 13px
  background-color maroonColor

  .container
    display flex
    height 50px
    justify-content space-between
    align-items center

.options-left, .options-right
  align-items center
  display flex
  justify-content space-between

.options-left

  &__item
    color #fff
    &:not(:last-child)
      margin-right 40px

.options-right
  color #ffffff
  &__cost
    color #ffffff
    
  &__item
    padding-right 21px
    position relative

    &::after
      content ''
      width 20px
      height 20px
      background url('../images/bag.png') no-repeat 0% 0%
      top 0
      left -30px
      position absolute
  
  &__items
    color #dcc5b8
    padding-left 5px

  &__login
    color #ffffff
    padding 16px 20px 15px 20px
    border none
    border-left 1px solid rgba(255, 255, 255, 0.1)
    cursor pointer
    background-color maroonColor

    &:hover
      background-color maroonColor
      border none
    &:active
      background-color maroonColor
      border none
    &:focus
      background-color maroonColor
      border none

  &__register
    color #ffffff
    padding 16px 20px 15px 20px
    background-color #ff7373
    cursor pointer
    border none
    
.menu
  background-color redColor

  .container
    align-items center
    display flex
    height 76px
    justify-content space-between

.logo
  z-index 20

.nav

  &__item
    color #ffffff
    font-size 16px
    margin-left 20px
  
    &:hover
      padding-bottom 25px
      color #ff7373
      border-bottom 4px solid #ff7373

.nav-button
  display none

+below(sm-breakpoint)
  .option
    .container
      flex-wrap wrap
      justify-content center
      height 100px
    
    .options-left
      justify-content center
      flex-basis 100%
    
    .options-right
      margin-left 25px
  
  .nav
    display none
  
  .nav-button
    border-right 1px solid rgba(255, 255, 255, 0.1)
    border-left 1px solid rgba(255, 255, 255, 0.1)
    width 76px
    height 76px
    display flex
    justify-content center
    align-items center
    flex-direction column

    &__line
      background-color #ff7373
      width 20px
      height 3px
      margin 2px 0
      display block

        
  